html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font: 12pt sans-serif;
    width: 100%;
}

#wrapper {
    width: 100%;
}

header {
    height: 8em;
    background-color: #666;
    color: #fff;
    line-height: 8em;
    padding: 0 1.5em;
}

header .inner {
    white-space: nowrap;
    overflow: hidden;
}

header h1 {
    margin: 0;
    float: left;
}

header p {
    margin: 0;
    float: right;
}

main {
    padding: 1em 1.5em;
    height: 100%;
}

table {
  line-height: 1.5em;
  font-size: 14pt;
  text-align: left;
}

caption {
  text-align: left;
}

th, td {
    height: 1em;
    width: 50%;
}

td {
  vertical-align: inherit;
}

div img {
  float: left;
}
